/sentinel-3a-slstr-s1.nc
/sentinel-3a-slstr-s2.nc
/sentinel-3a-slstr-s3.nc
/sentinel-3a-slstr-s4.nc
/sentinel-3a-slstr-s5.nc
/sentinel-3a-slstr-s6.nc
/sentinel-3a-slstr-s7.nc
/sentinel-3a-slstr-s8.nc
/sentinel-3a-slstr-s9.nc
/sentinel-3b-slstr-s1.nc
/sentinel-3b-slstr-s2.nc
/sentinel-3b-slstr-s3.nc
/sentinel-3b-slstr-s4.nc
/sentinel-3b-slstr-s5.nc
/sentinel-3b-slstr-s6.nc
/sentinel-3b-slstr-s7.nc
/sentinel-3b-slstr-s8.nc
/sentinel-3b-slstr-s9.nc
